.loginForm {
  display: flex;
  flex-direction: column;
  width: 400px;

  .loginButton {
    margin-top: 15px;
    margin-left: auto;
  }

  .input {
    margin-top: 10px;
  }
}

.loginFormRedesigned {
  width: 400px;

  .loginButton {
    margin-left: auto;
  }
}
