.card {
  padding: 25px;
}

.gap_0 {
  padding: 0;
}

.gap_8 {
  padding: 8px;
}

.gap_16 {
  padding: 16px;
}

.gap_24 {
  padding: 24px;
}

.normal {
  background: var(--dark-bg-redesigned);
}

.outline {
  border: 1px solid var(--accent-redesigned);
}

.round {
  border-radius: 40px;
}

.partial {
  border-radius: 20px;
}

.regular {
  border-radius: 12px;
}

.light {
  background: var(--light-bg-redesigned);
}

.max {
  width: 100%;
}

.fullHeight {
  height: 100%;
}
